<div class="fatura">
  <form>
    <b id="titulo_2">Dados da Fatura</b>
    <hr>
    <label>Nº da fatura</label>
    <input type="text" placeholder="Introduza o nº da sua fatura..." size="120">
    <label>Data da fatura:</label>
    <input type="text" placeholder="Introduza a data da sua fatura..." size="120">
    <label>Loja</label>
    <!-- <input type="string" name="loja" *ngFor="let loja of loja">{{ loja }}> -->
    <select name="lojas" id="lojas" style="width: 900%; height: 25px;">
      <option value="none"></option>
      <option value="NOS">NOS</option>
      <option value="Ageas">Ageas</option>
      <option value="Fnac">Fnac</option>
    </select>
  </form>
</div>