<div class="dados_pessoais">
  <form>
    <b id="titulo_1">Dados Pessoais</b>
    <hr>
    <label>Nome</label>
    <input type="text" [(ngModel)]="dados_pessoais.nome" name="nome" placeholder="Introduza o seu nome..." size="120">
    <label>Email</label>
    <input type="email" [(ngModel)]="dados_pessoais.email" name="email" placeholder="Introduza o seu email..."
      size="120">
    <label>NIF</label>
    <input type="nif" [(ngModel)]="dados_pessoais.nif" name="nif" placeholder="Introduza o seu NIF..." size="120">
  </form>
</div>